<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDisplayName</key>
        <string>Ghidra</string>
        <key>CFBundleExecutable</key>
        <string>ghidra</string>
        <key>CFBundleIconFile</key>
        <string>Ghidra</string>
        <key>CFBundleIdentifier</key>
        <string>gov.nsa.ghidra</string>
        <key>CFBundleVersion</key>
        <string></string>
    </dict>
</plist>
